body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.graph {
	margin: 10px;
}

#admin-console {
	display: none;
}

#nav-tabs {
	display: none;
	margin-top: -50px;
	margin-bottom: 50px;
}

.borderless td, .borderless th {
    border: none;
}

.progress {
	height: 60px;
	display: none;
}

.selectpicker {
	height: 34px;
	border-radius: 20px;
	margin-bottom: 5px;
	margin-right: 5px;
}

#available-queries {
	width: 44%;
}
#deployment-size {
	width: 15%;
}
#seep-branches {
	width: 33%;
}
#analytics-branches {
	width: 53%;
}

#startup-scheduler-type {
	width: 200px;
}
#runtime-scheduler {
	width: 200px;
}
input {
	width: 200px;
}

.operator {
	border-style: solid;
	border-width: 1px;
    border-color: #484848;
    margin: 1px;
	padding: 2px 8px;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: -2px 18px 0;
}

.vertical-text2 {
	transform: rotate(270deg);
	transform-origin: 75px 110px 0;
}

.input-grid li {
    display: block;
    float: left;
    width: 25%;
}

#config-submit {
	width: 100px;
	height: 30px;
	margin-left: 925px;
	margin-top: 32px;
}