body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.graph {
	margin: 10px;
}

#admin-console {
	display: none;
}

.progress {
	height: 60px;
	display: none;
}

.selectpicker {
	height: 34px;
	border-radius: 20px;
	margin-bottom: 5px;
	margin-right: 5px;
}

#available-queries {
	width: 75%;
}